* {
    margin: 0;
    padding: 0;
	border: 0;
    font-family: "PTSans", Verdana, "DejaVu Sans", Helvetica, Arial, sans-serif;
    color: #3d6b63;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.edge {
    background-color: #ffff00;
    height: 10px;
    width: 100%;
}

.top {
    height: 250px; /* change later */
    width: 100%;
    min-width: 100%;
}

.logo {
    margin-top: 35px;
    margin-left: 55px;
    width: 227px;
    height: 124px;
    background-image: url('/images/logo.png');
    float: left;
}

.title {
    padding-top: 70px;
    margin-left: 312px;
    font-size: 30px;
}

.buttons {
    float: right;
    margin-top: 40px;
    padding-right: 20px;
    text-align: center;
}

.button {
    width: 295px;
    height: 56px;
    margin-bottom: 12px;
}

.button div {
    font-size: 20px;
    padding-top: 20px;
}

.button img {
    vertical-align: text-bottom;
}

.articles_index {
    margin-left: 70px;
    margin-right: 70px;
}

.articles_index td {
    vertical-align: top;
}

td.total_rating {
    padding-top: 13px;
    padding-right: 10px;
}

td.total_rating div {
    font-size: 20px;
    background-image: url('/images/rating_frame.png');
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 13px;
    width: 135px;
    height: 58px;
}

td.rate {
    padding-right: 30px;
}

td.rate img {
    vertical-align: text-bottom;
}

td.article {
    padding-top: 24px;
    padding-bottom: 30px;
}

td.article div.article_title {
    font-size: 20px;
    width: 80%;
}

td.article div.article_body {
    font-size: 20px;
    width: 80%;
}

td.article div.article_category {
    font-size: 16px;
    padding-top: 10px;
    padding-right: 30px;
    float: left;
}

td.article div.article_tags {
    font-size: 16px;
    padding-top: 10px;
    padding-right: 30px;
    float: left;
}

td.article div.article_author {
    font-size: 16px;
    padding-top: 10px;
    text-align: right;
}

.article_show {
    margin-left: 70px;
    margin-right: 70px;
}

.article_show div.body {
    margin-top: 20px;
    margin-bottom: 5px;
}

.article_show div.source {
    margin-bottom: 30px;
}

.main {
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form table {
    margin-left: auto;
    margin-right: auto;
}

tr.field td.label {
    text-align: right;
    vertical-align: top;
    padding-top: 20px;
    margin-bottom: 90px;
}

tr.field td.label label {
    font-size: 18px;
    padding-right: 20px;
    
}

tr.field td.input {
    width: 648px;
    height: 61px;
    vertical-align: top;
    padding-top: 18px;
    background-repeat: no-repeat;
}

.obligatory {
    background-image: url('/images/narrow_frame_obligatory.png');
}

.optional {
    background-image: url('/images/narrow_frame_optional.png');
}

tr.field td.input_text {
    width: 648px;
    height: 251px;
    vertical-align: top;
    padding-top: 18px;
    background-repeat: no-repeat;
    background-image: url('/images/text_frame.png');
}

tr.field td.input_select {
    text-align: left;
    padding-top: 18px;
    padding-bottom: 18px;
}

tr.field td.input input {
    text-align: center;
    font-size: 24px;
    border: 0; /*1px solid silver;*/
    margin-left: -5px;
    height: 30px;
    width: 600px;
}

tr.field td.input_text textarea {
    text-align: left;
    font-size: 24px;
    border: 0;
    margin-left: -5px;
    height: 220px;
    width: 600px;
}

tr.field td.input_select select {
    font-size: 20px;
}


tr.actions td.action {
    text-align: right;
}

#comments {
    margin-top: 10px;
    margin-bottom: 10px;
}

#all_news_button {
    text-align: center;
}